@keyframes salto {
  0% {
    bottom: 0px;
  }
  10% {
    bottom: 0px;
  }
  20% {
    bottom: 20px;
  }
  30% {
    bottom: 0px;
  }
  40% {
    bottom: 30px;
  }
  50% {
    bottom: 0px;
  }
  60% {
    bottom: 20px;
  }
  70% {
    bottom: 0px;
  }
  80% {
    bottom: 10px;
  }
  90% {
    bottom: 0px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes flip_animation {
  0% {
    transform: translateZ(0) rotateY(0);
  }
  100% {
    transform: translateZ(160px) rotateY(180deg);
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a:-webkit-any-link {
  color: white;
}

html {
  background-color: black;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
}

.menu {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
.menu .menuItem:hover {
  animation: slide 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
.menu ul {
  display: flex;
  gap: 40px;
}
.menu li {
  list-style: none;
}

.pageCover {
  background-image: url("../img/Rectangle 1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 744px;
  position: absolute;
  width: 100%;
}
.pageCover h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 90px;
  font-weight: 400;
  left: 650px;
  position: absolute;
  top: 250px;
}

.portfolioHeader {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  padding: 105px;
  padding-top: 30px;
}

.infoHeader {
  align-items: flex-end;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.searchInput {
  background-color: white;
  border-radius: 20px;
  height: 52px;
  width: 305px;
}

.headerLogo {
  margin-left: 150px;
}

.portfolioTitle {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.imageContainer {
  background-color: black;
  display: grid;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 105px;
  padding-top: 20px;
}
.imageContainer .container1 {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.imageContainer .container1 .image1 {
  height: 210px;
  width: 373px;
}
.imageContainer .container1 .image1:hover {
  animation: flip_animation 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.imageContainer .container2 {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.imageContainer .container2 .image2 {
  height: 210px;
  width: 373px;
}
.imageContainer .container2 .image2:hover {
  animation: flip_animation 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.imageContainer .container3 {
  grid-area: 1/2/3/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.imageContainer .container3 .image3 {
  height: 530px;
  width: 375px;
}
.imageContainer .container3 .image3:hover {
  position: relative;
  animation-name: salto;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
.imageContainer .container4 {
  grid-area: 1/3/2/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.imageContainer .container4 .image4 {
  height: 210px;
  width: 373px;
}
.imageContainer .container4 .image4:hover {
  animation: flip_animation 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.imageContainer .container5 {
  grid-area: 2/3/3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.imageContainer .container5 .image5 {
  height: 210px;
  width: 373px;
}
.imageContainer .container5 .image5:hover {
  animation: flip_animation 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.addToBagPortfolio {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 110px;
}
.addToBagPortfolio p {
  color: blue;
  font-size: 10px;
  text-decoration: underline;
}

.nameCollection {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-right: 210px;
}

.collectionContainer {
  background-color: black;
  color: white;
  display: grid;
  font-family: "Inter", sans-serif;
  grid-column-gap: 110px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.1fr 1fr;
  padding: 20px 116px;
}
.collectionContainer .collectionDescription {
  align-items: center;
  display: flex;
  font-size: 30px;
  font-weight: 400;
  grid-area: 1/2/2/3;
  justify-content: center;
}
.collectionContainer img {
  max-height: 400px;
}
.collectionContainer h3 {
  font-size: 30px;
  font-weight: 400;
}
.collectionContainer p {
  font-size: 20px;
  font-weight: 400;
}
.collectionContainer .product1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: 2/1/3/2;
  justify-content: center;
}
.collectionContainer .product1:hover {
  animation: flip_animation 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.collectionContainer .product2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: 2/2/3/3;
  justify-content: center;
}
.collectionContainer .product2:hover {
  animation: flip_animation 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.collectionContainer .product3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: 2/3/3/4;
  justify-content: center;
}
.collectionContainer .product3:hover {
  animation: flip_animation 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.addToBag {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  bottom: 70px;
  display: flex;
  height: 30px;
  justify-content: center;
  left: 110px;
  position: relative;
  width: 110px;
}
.addToBag p {
  color: blue;
  font-size: 10px;
  text-decoration: underline;
}

.shopContainer {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px 105px;
  align-items: center;
}
.shopContainer .productInfo {
  color: white;
  display: flex;
  font-family: "Inter", sans-serif;
  justify-content: space-between;
  margin-top: 30px;
  width: 90%;
}
.shopContainer .productInfo p {
  font-size: 40px;
  font-weight: 400;
}
.shopContainer .productInfo h2 {
  font-size: 30px;
  font-weight: 400;
}
.shopContainer .productInfo img {
  height: 550px;
  width: 430px;
}
.shopContainer .productInfo .productPrice {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
}
.shopContainer .productInfo .buyButton {
  border-radius: 60px;
  font-size: 30px;
  font-weight: 400;
  height: 55px;
  margin-top: 95px;
  position: relative;
  right: 140px;
  width: 230px;
}
.shopContainer .socialMedia {
  align-self: flex-end;
  display: flex;
  justify-content: center;
}
.shopContainer .socialMedia img {
  bottom: 110px;
  object-fit: contain;
  position: relative;
  right: 300px;
}

.othersPortfolioHeader {
  color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  padding: 105px;
  padding-top: 30px;
}
.othersPortfolioHeader .othersMenu {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 400;
  gap: 40px;
  list-style: none;
}

.othersContainer {
  display: flex;
  gap: 190px;
  padding: 105px;
  padding-top: 0;
  width: 100vw;
}
.othersContainer .asideMenu ul {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 400;
  gap: 30px;
}
.othersContainer .asideMenu li {
  list-style: none;
}
.othersContainer .asideMenu li:hover {
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 10px;
}
.othersContainer .cardContainer {
  display: flex;
  gap: 75px;
}
.othersContainer .cardContainer .card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.othersContainer .cardContainer .card .productImg {
  height: 330px;
  width: 237px;
}
.othersContainer .cardContainer .card .productImg:hover {
  animation: flip_animation 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.othersContainer .cardContainer .card .cardInfo {
  display: flex;
  color: white;
  gap: 20px;
}
.othersContainer .cardContainer .card .cardInfo h2 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.othersSocialMedia {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: center;
}

@media (max-width: 360px) {
  .header {
    width: 360px;
  }
  .menu ul {
    font-size: 16px;
    gap: 10px;
  }
  .shopCar {
    width: 18px;
    height: 18px;
  }
  .pageCover {
    max-width: 100vw;
    max-height: 500px;
    background-size: 1000px;
    background-position: -550px;
  }
  .pageCover h1 {
    font-size: 40px;
    left: 50px;
    top: 100px;
  }
  .portfolioHeader {
    max-width: 360px;
    padding: 20px;
  }
  .searchInput {
    height: 17px;
    width: 100px;
  }
  .infoHeader {
    margin-bottom: 50px;
  }
  .navBar {
    display: flex;
    justify-content: center;
  }
  .navBar li {
    font-size: 12px;
  }
  .headerLogo {
    max-width: 45px;
    max-height: 50px;
    margin-left: 0;
  }
  .imageContainer {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0.1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
  }
  .imageContainer .container1 {
    grid-area: 1/1/2/2;
  }
  .imageContainer .container1 .image1 {
    width: 100%;
    height: 80px;
  }
  .imageContainer .container2 {
    grid-area: 2/1/3/2;
  }
  .imageContainer .container2 .image2 {
    width: 100%;
    height: 80px;
  }
  .imageContainer .container3 {
    grid-area: 3/1/4/3;
  }
  .imageContainer .container3 .image3 {
    width: 50%;
    height: 100%;
  }
  .imageContainer .container4 {
    grid-area: 1/2/2/3;
  }
  .imageContainer .container4 .image4 {
    width: 100%;
    height: 80px;
  }
  .imageContainer .container5 {
    grid-area: 2/2/3/3;
  }
  .imageContainer .container5 .image5 {
    width: 100%;
    height: 80px;
  }
  .othersPortfolioHeader {
    padding: 20px;
  }
  .addToBagPortfolio {
    height: 20px;
    width: 60px;
  }
  .shopContainer {
    padding: 40px;
    padding-top: 0;
    align-items: center;
  }
  .shopContainer .productInfo {
    flex-direction: column;
  }
  .shopContainer .productInfo img {
    height: 390px;
    width: 250px;
  }
  .shopContainer .productInfo p {
    font-size: 20px;
    font-weight: 400;
  }
  .shopContainer .productInfo h2 {
    font-size: 10px;
    font-weight: 400;
  }
  .shopContainer .productInfo .productPrice {
    margin-top: 20px;
  }
  .shopContainer .productInfo .buyButton {
    font-size: 10px;
    height: 27px;
    bottom: 160px;
    left: 140px;
    width: 113px;
  }
  .shopContainer .socialMedia img {
    bottom: 150px;
    object-fit: contain;
    position: relative;
    right: 60px;
  }
  .collectionContainer {
    padding: 40px;
    padding-top: 0;
    align-items: center;
    grid-template-columns: repeat(2, 0.2fr);
    grid-template-rows: 0.1fr repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .collectionContainer .collectionDescription {
    grid-area: 1/1/2/3;
  }
  .collectionContainer .product1 {
    grid-area: 2/1/3/2;
  }
  .collectionContainer .product1 img {
    width: 120px;
    height: 200px;
  }
  .collectionContainer .product2 {
    grid-area: 2/2/3/3;
  }
  .collectionContainer .product2 img {
    width: 120px;
    height: 200px;
  }
  .collectionContainer .product3 {
    grid-area: 3/1/4/2;
  }
  .collectionContainer .product3 img {
    width: 120px;
    height: 200px;
  }
  .collectionContainer .addToBag {
    bottom: 0px;
    height: 30px;
    left: 0px;
    width: 110px;
  }
  .collectionContainer .addToBag p {
    color: blue;
    font-size: 10px;
    text-decoration: underline;
  }
  .nameCollection {
    font-size: 10px;
    margin-right: 0px;
  }
  .othersContainer {
    gap: 20px;
    padding: 0;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
  }
  .othersContainer .asideMenu {
    position: absolute;
    bottom: -40px;
  }
  .othersContainer .asideMenu ul {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .othersContainer .cardContainer {
    flex-direction: column;
    align-items: center;
    width: 66%;
  }
}

/*# sourceMappingURL=styles.css.map */
