* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a:-webkit-any-link {
  color: white;
}

/* Home */

.header {
  align-items: center;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  width: 1440px;
}

.menu {
  color: white;
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 400;
  gap: 40px;
  list-style: none;
}

.pageCover {
  background-image: url("../img/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 744px;
  position: absolute;
  width: 1440px;
}

.pageTitle {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 90px;
  font-weight: 400;
  left: 650px;
  position: absolute;
  top: 250px;
}

@media (max-width: 360px) {
  .header {
    width: 360px;
  }
  .menu {
    font-size: 16px;
    gap: 10px;
  }
  .pageCover {
    max-width: 100vw;
    max-height: 500px;
    background-size: 1000px;
    background-position: -550px;
  }

  .pageTitle {
    font-size: 40px;
    left: 50px;
    top: 100px;
  }
}

/* Porfolio */

.portfolioHeader {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  padding: 105px;
}

.infoHeader {
  align-items: flex-end;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  margin-bottom: 100px;
}

.searchInput {
  background-color: white;
  border-radius: 20px;
  height: 52px;
  width: 305px;
}

.headerLogo {
  margin-left: 150px;
}

.imageContainer {
  background-color: black;
  display: grid;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 105px;
}

.image1 {
  grid-area: 1 / 1 / 2 / 2;
  height: 210px;
  width: 373px;
}

.image2 {
  grid-area: 2 / 1 / 3 / 2;
  height: 210px;
  width: 373px;
}

.image3 {
  grid-area: 1 / 2 / 3 / 3;
  height: 479px;
  width: 375px;
}

.image4 {
  grid-area: 1 / 3 / 2 / 4;
  height: 210px;
  width: 373px;
}

.image5 {
  grid-area: 2 / 3 / 3 / 4;
  height: 210px;
  width: 373px;
}

@media (max-width: 360px) {
  .portfolioHeader {
    max-width: 360px;
    padding: 20px;
  }

  .searchInput {
    height: 17px;
    width: 100px;
  }

  .infoHeader {
    margin-bottom: 50px;
  }

  .shopCar{
    width: 18px;
    height: 18px;
  }

  .navBar {
    display: flex;
    justify-content: center;
  }

  .navBar li{
    font-size: 12px;
  }
  

  .headerLogo {
    max-width: 45px;
    max-height: 50px;
    margin-left: 0;
  }

  .imageContainer {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 0.1fr);
    grid-column-gap: 40px;
    grid-row-gap: 20px;
  }

  .image1 {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 175px;
  }
  .image2 {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
    height: 175px;
  }
  .image3 {
    grid-area: 2 / 1 / 3 / 3;
    width: 100%;
    height: 115px;
  }
  .image4 {
    grid-area: 3 / 1 / 4 / 2;
    width: 100%;
    height: 175px;
  }
  .image5 {
    grid-area: 3 / 2 / 4 / 3;
    width: 100%;
    height: 175px;
  }
}

/* Ocean Collection */

.nameCollection {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-right: 210px;
}

.collectionContainer {
  background-color: black;
  color: white;
  display: grid;
  font-family: "Inter", sans-serif;
  grid-column-gap: 110px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.1fr 1fr;
  padding: 50px 116px;
}

.collectionContainer h3 {
  font-size: 30px;
  font-weight: 400;
}

.collectionContainer p {
  font-size: 20px;
  font-weight: 400;
}

.collectionDescription {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: 400;
  grid-area: 1 / 2 / 2 / 3;
  justify-content: center;
}

.product1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: 2 / 1 / 3 / 2;
  justify-content: center;
}

.product2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: 2 / 2 / 3 / 3;
  justify-content: center;
}

.product3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: 2 / 3 / 3 / 4;
  justify-content: center;
}

.addToBag {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  bottom: 70px;
  display: flex;
  height: 30px;
  justify-content: center;
  left: 110px;
  position: relative;
  width: 110px;
}

.addToBag p {
  color: blue;
  font-size: 10px;
  text-decoration: underline;
}

/* Shop */

.shopContainer {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 30px 105px;
}

.productInfo {
  color: white;
  display: flex;
  font-family: "Inter", sans-serif;
  justify-content: space-between;
  margin-top: 30px;
  width: 90%;
}

.productInfo p {
  font-size: 40px;
  font-weight: 400;
}

.productInfo h2 {
  font-size: 30px;
  font-weight: 400;
}

.productInfo img {
  height: 550px;
  width: 430px;
}

.productPrice {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 100px;
}

.buyButton {
  border-radius: 60px;
  font-size: 30px;
  font-weight: 400;
  height: 55px;
  margin-top: 95px;
  position: relative;
  right: 140px;
  width: 230px;
}

.socialMedia {
  align-self: flex-end;
  display: flex;
  justify-content: center;
}

.socialMedia img {
  bottom: 110px;
  object-fit: contain;
  position: relative;
  right: 300px;
}

/* Others */

.othersPortfolioHeader {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 0;
  padding: 105px;
  width: 1440px;
}

.othersMenu {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 400;
  gap: 40px;
  list-style: none;
}

.othersMenu a:-webkit-any-link {
  color: blue;
}

.othersContainer {
  display: flex;
  gap: 190px;
  padding: 105px;
  width: 100vw;
}

.asideMenu ul {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 400;
  gap: 30px;
}

.asideMenu li {
  list-style: none;
}

.asideMenu li:hover {
  background-color: #d9d9d9;
  border-radius: 20px;
  padding: 10px;
}

.cardContainer {
  display: flex;
  gap: 75px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.productImg {
  height: 330px;
  width: 237px;
}

.cardInfo {
  display: flex;
  gap: 20px;
}

.cardInfo h2 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.othersSocialMedia {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: center;
}
